.search-page {
	input {
		width: 550px;
		max-width: calc(100% - 2em);
		font-size: 1.25em;
		height: 2em;
		padding: 0em 1em;
		margin: 1em 0em;
	}
	.result-container {
		padding-bottom: 2em;
		a {
			text-decoration: none;
			&:hover {
				text-decoration: underline;
			}
		}
		.result-title {
			color: #1393ED;
			font-size: 1.25em;
			padding-bottom: 0.25em;
		}
		a:visited .result-title {
			color: rgb(85, 26, 139);
		}
		.result-url {
			color: #65A24D;
		}
		.result-description {
			margin: 0.5em 0em;
		}
		.result-meta {
			font-size: 0.85em;
			margin: 0.25em 0em;
		}
	}
}